.image-list {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
    grid-template-rows: auto;
    grid-gap: 15px;
}
.image-list .image-card {
    grid-row-end: span 2;
}

.image-list .image-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.searchForm {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    text-shadow: none;
    font-size: 20px;
    border: 0;
    border-color: transparent;
    padding: 5px;
}

.searchTop span{
    font-size: 30px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}
