* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: rgba(24, 24, 27, 0.98);
}

ol,
ul {
  padding-left: 30px;
}
.searchForm {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  text-shadow: none;
  font-size: 26px;
}
